*{
    font-family: Garamond;
}

header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
    float: left;
}

main{
    width: 80%;
    height: 600px;
    float: left;
    background-color: white;
}

aside{
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;
}


footer{
    background-color: tomato;
     color: white;
     text-align: center;
   
}

img{
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
article{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow:scroll;
}

section{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

.jeden{
    background-color: #EEE;
    
    
}

.jeden>img{
    float: left;
}

.dwa{
    background-color: #CCC;
    text-align: right;
    
}

.dwa>img{
    float: right;
}

button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}

input{

width: 500px;

}

/* body{

    display: flex;
    flex-wrap: wrap;
} */
footer{
    width: 100%;
}
