*{
    font-family: Helvetica;
}

header, footer{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}

#menu{
    background-color: Peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
}

#lewy{
    width: 80%;
    height: 700px;
    font-size: 120%;
    overflow: auto;
}

aside{
    background-color: Peru;
    color: white;
    width: 20%;
    height: 760px;

}

a{
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover{
    color: white;

}

body{
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
}
footer{
    width: 100%;
}
#prawy{
    height: auto;
}
#menu{
    width: 100%;
}
img{
    float: left;
    margin: 30px;
}